<div class="content">
  <img src="assets/img/logo.png">
  <h1 style="font-family: 'Lemon', serif; margin-top: 20px;">Infinity Aion</h1>
  <p>Servidor de aion 4.6 Retail 100% funcional, hospedado em São Paulo.</p>
  <div>
    <button mat-fab extended color="primary" disabled>
      <mat-icon>file_download</mat-icon>
      DOWNLOAD
    </button>
    <button mat-fab extended color="accent" disabled>
      <mat-icon>forum</mat-icon>
      FÓRUM
    </button>
    <button mat-fab extended color="accent" disabled>
      <mat-icon>military_tech</mat-icon>
      TOP PLAYERS
    </button>
    <button mat-fab extended color="accent" disabled>
      <mat-icon>help_outline</mat-icon>
      FAQ
    </button>

  </div>
</div>
