:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    background-image: linear-gradient(to bottom, #989898, #06315b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  p {
    font-family: 'Quando', serif;
  }

  img {
    width: 200px;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 200px;

    button {
      margin-top: 20px;
    }
  }
}
