<section style="background-image: url(assets/img/aionbg.png);">
  <mat-toolbar class="header" style="background: none;">
    <div class="race-info">
      <mat-icon style="color: red; margin-right: 10px;">cancel</mat-icon>
      STATUS: OFFLINE
      <!-- <div class="race">
        <img src="assets/img/elyoslogo.webp">
        <span>ELYOS (50%)</span>
      </div>
      <div class="race">
        <img src="assets/img/asmologo.webp">
        <span>ASMODIANS (50%)</span>
      </div> -->
    </div>
    <div class="buttons">
      <button mat-stroked-button color="primary" style="border-radius: 30px;" [routerLink]="['/create/account']" disabled>
        <mat-icon>person_add</mat-icon>
        CRIAR CONTA
      </button>
      <button mat-fab extended color="primary" [routerLink]="['/login/account']" disabled>
        <mat-icon>login</mat-icon>
        ENTRAR
      </button>
    </div>
  </mat-toolbar>

  <div class="content">
    <div class="image" style="background-image: url(assets/img/bg.png);"></div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>

  <mat-toolbar class="footer" color="primary">
    <div class="content">
      <div class="copyright">
        <span>© 2023 Infinity Aion Private Server</span>
        <span>All other trademarks are property of their respective owners.</span>
      </div>
      <div class="vote">
        <a mat-button href="https://www.google.com/" target="_blank" class="btn-vote" style="background-image: url(assets/img/xtreme.png);"></a>
        <a mat-button href="https://www.google.com/" target="_blank" class="btn-vote" style="background-image: url(assets/img/topg.png);"></a>
      </div>
    </div>
  </mat-toolbar>
</section>
