:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
